<div id="subscribe"> <%= render "layouts/subscribe" %> </div>
<br>
<% if !@posts.any? %>
	<p><strong> Follow users to see their posts here. </strong><%= link_to "Click here", users_path %></p>
<% end %>

<div class="my-posts">
	<%= render partial: "index", locals: {posts: @posts} %>
</div>

<div id="infinite_scrolling">
  <%= link_to_next_page(@posts, "<i class=\"glyphicon glyphicon-option-vertical\"></i>".html_safe,
  																							remote: true, id: "link_to_next_page") %>	
</div>
