<h1 id="header-id">Welcome</h1>
<%= render 'layouts/subscribe' %>

<% @users.each do |user| %>
	<% if user == current_user %>
		<% user.following.each do |user| %>
			<% user.posts.each do |post| %>
				<div> <%= link_to post.title, post %> </div>
				<%= render partial: "shared/post", locals: {post: post} %>
				<br><br>
			<% end %>
		<% end %>
		<% break %>
	<% end %>
<% end %>		 

