<h1 id="header-id">My Friends</h1>
<%= render 'layouts/subscribe' %>

<table class="table table-hover">
  <thead>
  	<th>Friends</th>
  </thead>
	<% @friends.each do |friend| %>
		<tr>
			<td>
				<%= friend.username %>
			</td>
			<td>
				<%= link_to "Unfriend", friend_path(friend), :method => :delete %>
			</td>
		</tr>
	<% end %>
</table>