<% comments.zip(current_user_likes).each do |comment, like| %>
	<%= render partial: "comments/comment", locals: {comment: comment, like: like, post: post} %>
	<div id="display_comment_<%= comment.id %>" ></div>
	<div id="reply_div_<%= comment.id %>" ></div>
<% end %>
