<table class="table table-hover">
  <thead>
    <th colspan="10">Username</th>   
  </thead>
  <tbody>
    <% @users.zip(relationships).each do |user, relationship| %>
      <tr>
        <td colspan="8"> <%= render partial: "shared/user_image", locals: {user: user}%>
                                                <%= link_to "  #{user.username}", user %></td>
        <% if user != current_user %>
           <td colspan="8">
            <% if !relationship %>
              <%= render partial: "shared/link_to_follow", locals: {user: user} %>
            <% else %>
              <%= render partial: "shared/link_to_unfollow", locals: {user: user, relationship: relationship} %>
            <% end %> 
          </td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>
