<span>
	<% if current_user.id == post.user_id %>
	  <%= link_to "<i class=\"glyphicon glyphicon-pencil\"></i>".html_safe, edit_post_path(post) %> | 
	  <%= link_to "<i class=\"glyphicon glyphicon-trash\"></i>".html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	<span class="time-ago"> <%= time_ago_in_words(post.created_at) %> ago</span>
</span >
