<table class="table table-hover">
  <thead>
    <th colspan="8"> Username </th>  
  </thead>
  <tbody>
    <% users.zip(friendships, friend_requests, relationships).each do |user, friendship, friend_request,
                                                                              relationship| %>
      <tr>
        <td colspan="8"> <%= render partial: "shared/user_image", locals: {user: user}%>
                                          <%= link_to "  #{user.username}", user %></td>
        <% if current_user != user %>
          <%= render partial: "shared/user_relationship", locals: {user: user, friendship: friendship,
                                          friend_request: friend_request, relationship: relationship} %>
        <% else %>
          <td colspan="8"></td>
          <td colspan="8"></td>                                    
        <% end %>
     <% end %>
  </tbody>
</table>