<%= paginate @posts %>
 <table class="table table-hover">
    <tbody>
      <% @posts.each do |post| %>
        <div> <%= link_to post.title, post %> </div>
          <%= render partial: "shared/post", locals: {post: post} %>
        <br><br>
      <% end %>
    </tbody>
  </table>
<%= paginate @posts %>