#infinite_scrolling {
	text-align: center;
	background: #cce6ff;
}

.show-more, .read-less {
	cursor: pointer;
	float: right; 
	display: none;
	color: #6890d1;
}

#warning {
	cursor: pointer;
	float: right;
	color: #6890d1; 
}

.read-less:hover {
	text-decoration: underline;
	color: #466699;
}

#warning:hover {
	text-decoration: underline;
	color: #466699;	 
}

.show-more:hover {
	text-decoration: underline;
	color: #466699;
}

.show-less-content {
	max-height: 100px;
	overflow: hidden;
}

.post-link {
	font-size: large;
	word-wrap: break-word;
}