<h2 id="header_id"> Unsubscribe </h2> 
<%= form_for(:subscribe, action: :destroy, method: :delete) do |f|%>
		<% if !@subscribe %>
			<div class="text-danger">
      		<%= "Invalid email" %>
    	</div> 
    <% end %>	
	<p><%= f.text_field :email, value: nil %> Confirm your email to unsubscribe </p>
	<p><%= f.submit "unsubscribe", class: "btn btn-primary" %></p>
<% end %>			