<div id="subscribe"> <%= render "layouts/subscribe" %> </div>
<br>
<% if !@posts.any? %>
	<p><strong>Sorry! No posts to display</strong></p>
	<p> Sign in to create a post. <%= link_to "Click here to sign in", new_user_session_path %></p>
<% end %>

<div class="my-posts">
	<%= render partial: "dashboard/index", locals: {posts: @posts} %>
</div>

<div id="infinite_scrolling">
  <%= link_to_next_page(@posts, "<i class=\"glyphicon glyphicon-option-vertical\"></i>".html_safe,
  																							remote: true, id: "link_to_next_page") %>	
</div>

