<footer class="footer">
  <small>
    @blog_app
  </small>
  <nav>
    <ul>
      <li><a href="#" data-toggle="modal" data-target="#myModal">About</a></li>
      <li><a href="#" data-toggle="modal" data-target="#myModal">Contact</a></li>
    </ul>
  </nav>
</footer>